section#landing {
  background-color: black;
  height: 100vh;
}

section#landing .alert {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
  display: inline-block;
}

section#landing .landing.header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

section#landing .landing.header h1 {
  color: white;
  text-shadow: 2px 2px 10px black;
  margin-bottom: 1rem;
}

section#landing .slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

section#landing .slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 50s linear infinite;
          animation: imageAnimation 50s linear infinite;
}

section#landing .slideshow li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), to(rgba(22, 22, 22, 0.3))), url(https://images.unsplash.com/photo-1552396422-9d90144ceb97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-image: linear-gradient(rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.3) 100%), url(https://images.unsplash.com/photo-1552396422-9d90144ceb97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}

section#landing .slideshow li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), to(rgba(22, 22, 22, 0.3))), url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-image: linear-gradient(rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.3) 100%), url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

section#landing .slideshow li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), to(rgba(22, 22, 22, 0.3))), url(https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-image: linear-gradient(rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.3) 100%), url(https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

section#landing .slideshow li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), to(rgba(22, 22, 22, 0.3))), url(https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-image: linear-gradient(rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.3) 100%), url(https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

section#landing .slideshow li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), to(rgba(22, 22, 22, 0.3))), url(https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
  background-image: linear-gradient(rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.3) 100%), url(https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

#mainNavbar {
  border-bottom: 1px solid #dee2e6 !important;
}

#mainNavbar .btn {
  color: white !important;
}

section#campgrounds header {
  margin-top: 1rem;
}

section#newCampground,
section#editCampground,
section#editComment,
section#registerForm,
section#loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-height: 600px;
}

section#newCampground .card,
section#editCampground .card,
section#editComment .card,
section#registerForm .card,
section#loginForm .card {
  padding: 1.5rem 3rem;
  min-width: 500px;
}

section#newCampground .card h3,
section#editCampground .card h3,
section#editComment .card h3,
section#registerForm .card h3,
section#loginForm .card h3 {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dee2e6 !important;
}

section#campground .manage-box {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 0.8rem;
}

section#campground #map {
  margin: 2rem 0;
  width: 100%;
  height: 400px;
}
/*# sourceMappingURL=style.css.map */