#mainNavbar {
	border-bottom: 1px solid #dee2e6 !important;
	.btn {
		color: white !important;
	}
}

section#campgrounds {
	header {
		margin-top: 1rem;
	}
}

section#newCampground,
section#editCampground,
section#editComment,
section#registerForm,
section#loginForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	.card {
		padding: 1.5rem 3rem;
		min-width: 500px;
		h3 {
			text-align: center;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid #dee2e6 !important;
		}
	}
}
